@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,100&display=swap");

$font-stack: "Roboto", sans-serif;
$primary-color: #191d1fc7;
$primary-color-2: #51adcf;
$primary-color-3: #a5ecd7;
$primary-color-4: #e8ffc1;
$secondary-color: #ff7e67;
$secondary-color-1: #6a2c70;
$secondary-color-2: #b83b5e;
$secondary-color-3: #f08a5d;
$secondary-color-4: #eeecda;
$light-color: #f4f4f4;
$white-color: #fff;
$dark-color: #222222;

$nav-height: 76px;

$padding-normal: 30px 15px;
