.login {
  background-image: url('../../static/img/login.jpg');
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 9vh);
  .card {
    width: 20vw;
    min-width: 300px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9);
    margin: 100px 10vw auto;
    .row {
      .mt-4{
        margin-top: 0!important;
      }
    }
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
