affine==2.3.0
ahpy==1.2
appdirs==1.4.4
asgiref==3.4.1
attrs==21.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
cftime==1.5.0
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==1.6.0
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
cycler==0.10.0
dask==2021.8.1
datacube==1.8.5
distributed==2021.8.1
Django==3.2.5
django-cleanup==5.2.0
django-cors-headers==3.7.0
django-filter==2.4.0
django-rest-knox==4.1.0
django-rest-swagger==2.2.0
djangorestframework==3.12.4
docopt==0.6.2
Fiona @ file:///C:/Users/kadit/pipwin/Fiona-1.8.20-cp38-cp38-win_amd64.whl
fsspec==2021.7.0
future==0.18.2
GDAL @ file:///C:/Users/kadit/pipwin/GDAL-3.3.1-cp38-cp38-win_amd64.whl
geocube==0.0.17
geopandas @ file:///C:/Users/kadit/pipwin/geopandas-0.9.0-py3-none-any.whl
geoserver-rest==2.1.0
geoserver-restconfig==2.0.4.6
gisdata==0.5.4
greenlet==1.1.1
HeapDict==1.0.1
idna==2.10
itypes==1.2.0
jenkspy==0.2.0
Jinja2==3.0.1
Js2Py==0.71
jsonschema==3.2.0
kiwisolver==1.3.1
lark-parser==0.11.3
locket==0.2.1
MarkupSafe==2.0.1
matplotlib==3.2.0
msgpack==1.0.2
munch==2.5.0
netCDF4==1.5.7
numpy==1.20.2
openapi-codec==1.3.2
packaging==21.0
pandas==1.2.3
partd==1.2.0
Pillow==8.2.0
pipwin==0.5.1
postgis-assist==0.0.3
postgres-helper==0.0.3
psutil==5.8.0
psycopg2==2.8.6
pycparser==2.20
Pygments==2.10.0
pyjsparser==2.7.1
pymongo==3.12.0
pyparsing==2.4.7
PyPrind==2.11.3
pyproj==3.1.0
pyrsistent==0.18.0
pysld==0.0.6
pySmartDL==1.3.4
python-dateutil==2.8.1
python-decouple==3.4
pytz==2021.1
PyYAML==5.4.1
rasterio @ file:///C:/Users/kadit/pipwin/rasterio-1.2.6-cp38-cp38-win_amd64.whl
requests==2.25.1
rioxarray @ file:///C:/Users/kadit/pipwin/rioxarray-0.7.0-py3-none-any.whl
Rtree==0.9.7
scipy==1.6.2
seaborn==0.11.1
Shapely==1.7.1
simplejson==3.17.5
six==1.15.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.2.1
SQLAlchemy==1.4.23
sqlparse==0.4.1
tblib==1.7.0
toolz==0.11.1
tornado==6.1
tzdata==2021.1
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.26.6
xarray==0.19.0
zict==2.0.0
