.navbar {
  @include set-background($neu-1);
  height: $nav-height;
  min-height: 4rem;
  padding-bottom: 0.4rem!important;
  padding-top: 0.4rem!important;
  // box-shadow:
  //   5px 5px 5px $neu-1,
  //   -5px -5px 5px $white;
  a {
    font-weight: bold;
    color: #212529;
  }

  a:hover {
    // transform: scale(0.98);
    color: $secondary-color;
  }

  .dropdown-menu {
    a {
      color: #212529;
    }
    // background: lighten($primary-color, 10%);
    // min-width: 0;
    // .dropdown-item {
    //   white-space: normal;
    // }
  }
}
